<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raquel.juego">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.FormularioRegistroActivity" />
        <activity android:name=".activity.PersonajesActivity" />
        <activity android:name=".activity.ObjetosActivity" />
        <activity android:name=".activity.TipsActivity" />
        <activity android:name=".activity.DescripcionActivity" />
        <activity android:name=".activity.AjustesActivity" />
        <activity android:name=".activity.BossActivity" />
        <activity android:name=".activity.EnemigoActivity" />
        <activity android:name=".activity.ProtagonistaActivity"></activity>
    </application>

</manifest>